{% load static %}

<footer id="footer" class="bg-black border-top" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="row d-flex flex-wrap justify-content-between py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
               <a href="{% url 'guest_home' %}" class="text-white text-decoration-none display-6 fw-bold">
                URBAN RENTALS
              </a>
            </div>
            <p>Premium furniture rentals for modern living. Flexible plans, free delivery, and curated designs for your home.</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Quick Links</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="{% url 'guest_home' %}" class="item-anchor">Home</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'login' %}" class="item-anchor">Browse Catalog</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'login' %}" class="item-anchor">Login</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'customer_registration' %}" class="item-anchor">Register</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Support</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">How it works</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">FAQs</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact Support</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
         <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title mb-4">Subscribe</h5>
            <p>Subscribe to our newsletter to get updates on new arrivals and special offers.</p>
            <form class="d-flex mt-3 gap-2">
              <input class="form-control rounded-pill" type="email" placeholder="Enter your email" aria-label="Email">
              <button class="btn btn-outline-light rounded-pill" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-start">
            <p class="mb-0">&copy; 2024 Urban Rentals. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-center text-md-end">
            <!-- <p class="mb-0">Designed by <a href="#" class="text-decoration-none">TemplatesJungle</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'guest/js/jquery.min.js' %}"></script>
  <script src="{% static 'guest/js/plugins.js' %}"></script>
  <script src="{% static 'guest/js/SmoothScroll.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="{% static 'guest/js/script.js' %}"></script>
</body>
</html>